/* For mobile phones: */
@media only screen and (max-width: 600px) {
  .body {
    margin-right: auto;
  }
  .dropdown {
    display:inline-block;
  }

  .topnav {
    display: none;
  }

  .popup img {
    width: 250px;
    max-width: width;
    height: 250px;
    max-height: height;
    display: block;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 #428581;
  }

  .popup-inner h1 {
    color: #403d58;
    position: absolute;
    left: 320px;
    top: 30px;
    border-bottom: 4px solid #403d58;
  }
  .popup-inner h2 {
    position: absolute;
    left: 245px;
    bottom: 90px;
    background-color: #d1fffb;
    border-radius: 30px;
    padding: 10px;
  }
  .popup-inner p {
    position: absolute;
    font-weight: 500;
    left: 320px;
    top: 100px;
    width: 300px;
  }

  .popup-inner .cart-btn {
    background-color: #cafffc;
    font-size: xx-large;
    border-radius: 10px;
    position: absolute;
    width: 300px;
    left: 145px;
    bottom: 30px;
    transition: all 0.4s ease-in-out;
  }
  .lowerbody {
    min-width: 550px;
    grid-template-columns: repeat(2, 1fr)
  }
  .card img {
    min-width: 50px;
  }

}