:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ff9b7f;
}

/*ScrollBar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.footer {
  position: relative;
  margin-top: 20px;
  padding: 20px;
  left: 0;
  bottom: 0;

  background-color: rgb(70, 95, 91);
  color: white;
  text-align: center;
}
