:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* background-image: url("https://img.freepik.com/free-vector/flat-design-shopping-pattern-design_23-2149656934.jpg?w=740&t=st=1692679345~exp=1692679945~hmac=f39a56eb5b8d2681530c97ad889074e567ddfe51095cb714c38773aff04c6216"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ff9b7f;
}

/*ScrollBar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropdown {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  max-height: 70px;
  height: 50%;
  z-index: 89;
  background-color: #66d7d1;
  border-radius: 10px;
  padding: 10px;
}
.dropbtn {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f16c6c;
  color: #0f0f0f;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
  position: fixed;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 98;
  width: 90px;
  max-height: 0%;
  min-width: 90px;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-content a {
  color: black;

  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
}

.dropdown-content a:aci {
  background-color: #e2e2e2;
}

.dropdown:hover .dropdown-content {
  max-height: 260px;
  min-width: 90px;
  transition: max-height 0.3s ease-in;
}
.dropdown:hover {
  max-height: 330px;
  min-width: 90px;
  transition: max-height 0.25s ease-in;
}

.dropdown:hover .dropbtn {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  transition: max-height 0.25s ease-in;
}

.topnav {
  animation: fadeIn 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  color: #fff;
  z-index: 89;
  background-color: #707d8d;
  overflow: hidden;
  padding: 10px;
  text-align: center;
}

.topnav h1 {
  float: left;
  color: #f2f2f2;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 30px;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #fd4c4c;
}
.topnav a {
  position: relati;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 30px;
}
.count {
  float: left;
  z-index: 2;
  font-size: 16px;
  border-radius: 20%;
  background: #d60b28;
  line-height: 16px;

  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #62b4e4;
  color: black;
  border-radius: 10px;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #e4654f;
  color: white;
  border-radius: 10px;
}

.review {
  margin: 10px;
  position: absolute;
  background-color: #83f7ff;
  border-radius: 50px;
  box-shadow: 0 8px 5px 5px rgb(155, 75, 75);
  width: 25%;
  height: 50%;
}

.review-slide {
  box-shadow: 0 8px 5px 5px rgb(86, 136, 161);
  border-radius: 50px;
  background-color: #6053af9d;
  margin: 100px;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  height: 50%;
}

.body {
  margin: 130px;
  margin-left: auto;
  margin-right: auto;
  background-color: #a6cffd;
  border-radius: 20px;
  width: 800px;
  min-width: 530px;
  height: 660px;
}

.each-slide-effect > div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: auto;
  width: 580px;
  margin-left: 14%;
}

.card {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 4px 8px 0 rgb(65, 65, 65);
  transition: 0.3s;
  border-radius: 5px;
  margin: 20px;
  background-color: #6ea1db;
}

.card img {
  border-radius: 10px;
  width: 90%;
  min-width: 50px;
  max-height: 100%;
  margin: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card h2 {
  color: #403d58;
  position: absolute;
  font-size: 40px;
  background-color: #6ea1db;
  border-radius: 10px;
  padding: 0px 10px;
  top: 75%;
  transition: all 0.4s ease-in-out;
}

.card h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px 5px 0;
  background-color: #a3f1ff;
  animation: fadeIn 0.3s;
  font-size: 30px;
  padding: 0px 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(53, 53, 53, 0.2);
  background-color: #6cafdb;
  filter: brightness(80%);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    -ms-zoom-animation: 0;
  }
  100% {
    -ms-zoom-animation: 1;
  }
}

.lowerform {
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 40px;
  border-radius: 20px;
  background-color: #477481;
  left: 100%;
  width: 450px;
  position: absolute;
}
.LowerBodySearchBar[type="text"] {
  padding: 20px;
  border: none;
  font-size: 20px;
  background-color: #ffbbb2af;
  border-radius: 20px;
  text-align: center;
  width: 350px;
  display: block;
  margin: 15px auto;
}
.lowerform button {
  border-radius: 20px;
  text-align: center;
  display: block;
  margin: 10px auto;
  text-decoration: none;
  background-color: #ce8554;
  font-size: 20px;
  padding: 7px 35px;
  border: 3px solid black;
  cursor: pointer;
  width: 50%;
}
.lowerform button:hover {
  background-color: #ffa18a;
}

.lowerbody {
  background-color: #54b1ac81;
  height: 100%;
  width: 80%;
  min-width: 1000px;
  min-height: 320px;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  transition: 0.3s;
}

.lowerbody-inner {
  box-shadow: 0 4px 8px 0 rgb(65, 65, 65);
  background-color: #91b9e7;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  max-width: 400px;
  transition: all 0.4s ease-in-out;
}

.lowerbodycard {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  box-shadow: 0 4px 8px 0 rgb(65, 65, 65);
  transition: 0.3s;
  border-radius: 5px;
  margin: 20px;
  background-color: #6ea1db;
}

.lowerbodycard img {
  border-radius: 10px;
  width: 90%;
  min-width: 50px;
  max-height: 100%;
  margin: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lowerbodycard h2 {
  color: #403d58;
  position: absolute;
  font-size: 40px;
  background-color: #6ea1db;
  border-radius: 10px;
  padding: 0px 10px;
  top: 75%;
  transition: all 0.4s ease-in-out;
}

.lowerbodycard h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px 5px 0;
  background-color: #a3f1ff;
  animation: fadeIn 0.3s;
  font-size: 30px;
  padding: 0px 10px;
}

/* On mouse-over, add a deeper shadow */
.lowerbodycard:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(53, 53, 53, 0.2);
  background-color: #6cafdb;
  filter: brightness(80%);
}
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: fadeIn 0.3s;
  z-index: 99;

  background-color: rgba(10, 7, 7, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup img {
  transition: all 0.4s ease-in-out;
  width: 435px;
  max-width: 435px;
  height: inherit;
  display: block;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 #428581;
}
.popup-inner {
  position: relative;
  padding: 60px;
  border-radius: 30px;
  width: 800px;
  max-width: 800px;
  height: 400px;
  max-height: 400px;
  background-color: #66d7d1;
  box-shadow: 0 8px 16px 0 #428581;
}

.popup-inner h1 {
  transition: all 0.4s ease-in-out;
  color: #403d58;
  position: absolute;
  left: 545px;
  border-bottom: 4px solid #403d58;
}
.popup-inner h2 {
  transition: all 0.4s ease-in-out;
  position: absolute;
  left: 545px;
  bottom: 100px;
  background-color: #d1fffb;
  border-radius: 30px;
  padding: 10px;
}
.popup-inner p {
  transition: all 0.4s ease-in-out;
  position: absolute;
  font-weight: 500;
  left: 545px;
  top: 150px;
  width: 300px;
}
.popup-inner .close-btn {
  background-color: #b7f5f2;
  font-size: xx-large;
  width: 40px;
  border-radius: 30px;
  border-style: none;
  position: absolute;
  top: 16px;
  right: 16px;
  transition: all 0.4s ease-in-out;
}

.popup-inner .close-btn:hover {
  background-color: #327470;
  transition: all 0.4s ease-in-out;
  font-size: xx-large;
  cursor: pointer;
}

.popup-inner .cart-btn {
  background-color: #cafffc;
  font-size: xx-large;
  border-radius: 10px;
  position: absolute;
  width: 300px;
  left: 545px;
  bottom: 50px;
  transition: all 0.4s ease-in-out;
}

.popup-inner .cart-btn:hover {
  background-color: #327470;
  font-size: xx-large;
  cursor: pointer;

  transition: all 0.4s ease-in-out;
}

.footer {
  position: relative;
  margin-top: 20px;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(70, 95, 91);
  color: white;
  text-align: center;
  /* border-top-left-radius: 20px; */
  /* border-top-right-radius: 20px; */
}
